.header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    border-bottom: solid 1px black;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.logo {
    color: MediumAquamarine; 
    display: flex;
    flex-grow: 1;
    padding-left: 30px;
    align-items: center;
}



.logo img {
    margin-right: 12px;
    width: 70px;
    height: 60px;
}

nav {
    display: inline-block;
    padding-right: 30px;
}

nav span {
    padding: 20px 10px;
    
}

a {
    color: black;
}


.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.main-cont {
  display: flex;
  margin: 0 auto 78px auto;
  
}

p, h1 {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-top: 15px;
}

.column {
    margin-right: 32px;
    display: flex;
    flex-direction: column;
}

.main-story {
    
}

.image-text {
    /*  display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    height: 300px;
    margin-top: 15px;
    text-align: center;
}

.main-story-image {
    background-image: url(../images/img-story-main.png);
    font-size: 40px;
    text-align: left;
}

.main-story-content {
    
}

.text-stories {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px; 
}

.newbites h1 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.text-stories .text-content {
     height: 250px;
}

.first-text-story {
    
}

.first-text-story-img.image-text {
    background-image: url(../images/img-story-2.png);
}

.second-text-story {
    
}

.second-text-story-img.image-text {
    background-image: url(../images/img-story-3.png);
}

.text-story-col2 {
    
}

.second-text-story-col2 {
    
}

.second-text-story-col2-img.image-text {
    background-image: url(../images/img-story-1.png);
    
}

.newbites .bite {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: block;
  padding: 11px 20px;
  border-bottom: solid 1px black;
}

.col3-story {
    display: flex;
    flex-direction: column;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
    text-align: center;
}

footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}

.info {
    margin-top: 20px;
}